body {
		background: #fff url(bg.jpg) center center fixed no-repeat;
		font-family: museo-slab,serif;
		font-weight: 500;
		margin:0;
		padding: 0;
		background-size: cover;
		-moz-background-size: cover;
		-webkit-background-size: cover;
}
		@media only all and (max-width: 1024px) and (max-height: 768px) {
		body {	
			-moz-background-size: 1024px 768px;
			background-size: 1024px 768px;
		}
}

#bar {
		top: 30%;
		width: 100%;
		position: absolute;
		background: transparent url(trans-bg.png);
}

h1{
		font-size: 4.0em;
		font-weight: 300;
		margin-left: .6em;
		display: inline-block;
		margin-top: .67em;
}

ul.links {
		text-align: right;
		float: right;
		margin: 0 2.5em 0 0;
}

ul.links li {
		font-size: 1.5em;
		line-height: 1.7em;
		list-style-type: none;
		font-family: museo-slab,serif;
		font-weight: 300;
}

a:link { color: #4b4b4b; text-decoration: none; }
a:visited { color: #4b4b4b; text-decoration: none; }
a:active { color: #4b4b4b; text-decoration: none; }
/*a:hover { color: #4b4b4b; border-bottom: 4px solid #5ba2cc; }*/
a:hover { color: #4b4b4b; border-bottom: 4px solid #bf503f; }

.links .highlight {
		color: #bf503f;
		font-weight: 500;
 }

.typekit-badge { display:none !important; }